librosa==0.10.1         # For audio feature extraction
numpy==1.26.4           # For math & signal processing
soundfile==0.12.1       # To load/save audio files
PySimpleGUI==4.60.5     # For the optional GUI